.c-title {
    text-align: center;
    margin-bottom: 80px;
    color: #fff;    
}

.c-info {
    text-align: right!important;
    p {
        color: #fff;
        float: right;
        margin-top: 20px;
        width: 440px;
        font-size: 20px;
    }
}

.c-image {
    text-align: left;
    img {
        width: 50%;
    }
}

.c-full {
    margin-bottom: 100px;
}

.c-full:last-child {
    margin-bottom: 0;
}
.caracteristics {
    background-color: #435667;
}