.p-info {
    text-align: left!important;
    p {
        color: #000;
        float: left;
        margin-top: 20px;
        width: 440px;
        font-size: 20px;
    }

    form {
        margin-top: 20px;
    }
}

.p-btn {
    text-align: center;    
    margin-top: 45px;

    a {
        background-color: #24BDCF;
        color: #fff!important;
        padding: 15px 35px;
    }
}

.p-img {
    text-align: center;

    .banner {
        height: 570px;
        width: 493px;
    }

    .border {
        top: -20px;
        left: 24px;
        position: absolute;
        width: 96%;
    }
}