.s-info {
    text-align: left!important;
    p {
        color: #fff;
        float: left;
        margin-top: 20px;
        width: 440px;
        font-size: 20px;
    }
}

.s-image {
    text-align: right;

    img {
        margin-right: 40px;
        width: 90%;
    }
}

.s-data {
    margin-top: 20px;
    
    img {
        width: 65%;
    }
}

.s-data_img {
    text-align: center;
}